.DS_Store
Gemfile.lock
config/appconfig.yml
config/database.mysql.yml
config/database.sqlite.yml
config/database.yml
db/*.sqlite3
db/schema.rb
doc/api
doc/app
log/*.log
log/audit.log.*
public/cache/**/*
tmp/**/*
